.App {
  text-align: center;
}

.App-logo {
  padding: 0 150px 0 150px;
  height: 25vmin;
  pointer-events: none;
}

.search-header {
  padding: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s ease-in-out;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 1s ease-in-out;
}

.input:focus {
  width: 60%;
}

.custom-filter {
  margin-top: 20px;
  text-align: center;
}

.custom-filter button {
  background-color: #4caf50;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.spopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 3);
  color: #000000;
  width: 700px;
  padding: 80px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.spopup h2 {
  margin-top: 0;
}

.spopup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(241, 12, 12);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}

.spopup .title-popup {
  position: absolute;
  top: 10px;
  left: 33%;
  color: rgb(8, 19, 61);
}

.spopup .search-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e5c527;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}