.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color:rgba(0, 0, 0, 10)  ;
    z-index: 100;
    padding: 10px;
    display: flex;
    transition: background-color 0.3s ease-in-out;
  }
  .transparent {
    background-color: rgba(0, 0, 0, 0);
    }
 
  .nav-list {
    align-items: center;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    transition: transform 0.2s ease-in-out;
    margin-left: 20px; 
  }
  .nav-item:hover {
    transform: scale(1.1);
  }

  .nav-item a {
   
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    
    color: #ccc;
  }
  .nav-item-Popmovie {
    color: #f94e4e;
    font-weight: bold;
    margin-left: 20px;}
.logoNav{
  margin-left: 20px;
  align-items: center;
}