.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Adjust the height as needed */
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  outline: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.carousel-image {
  width: 100%;
  height: 500;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
