.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 500px; /* Adjust the height as needed */
  overflow: hidden;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 200%;
}
.OVmovie{
  position: absolute;
  top :60%;
  font-size: 20px;
  width: 300px;
  text-align: left;
  padding: 20px;

}
.titlemovie{
  position: absolute;
  text-transform: uppercase;
  width: 650px;
  font-size: 40px;
  top :50%;
  text-align: left;
  padding: 20px;


}
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  color: rgb(110, 110, 110);
  cursor: pointer;
  outline: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.carousel-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
