.App {
  text-align: center;
  color: #101010;
  background-color: #101010;
}

.App-header {
  background-color: #101010;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.populaire{
  margin-top: 30px;
  padding-left: 20px;
  margin-bottom: 0px;
  background-color: #101010;
  text-align: left;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  
}



