.films {
  padding: 10px 10px 10px 10px;
  background-color: #101010;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  ;
}

.movies-posters {
  width: 5%;
  min-width: 125px;
  margin-top: 2rem;
  font-size: 15px;
  font-family: 'Lucida Console', monospace;
 
}

.movie-image {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
 ;
}

.movie-image:hover {
  transform: scale(1.1);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup button {
  background-color:  #101010;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex ;
}

.popup button:hover {
  background-color: #3c414d;
}

