.films {
  padding: 10px 10px 10px 10px;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movies-posters {
  width: 20%;
  min-width: 250px;
  margin-top: 2rem;
  font-size: 15px;
  font-family: 'Lucida Console', monospace;
}
